{{ define "main" }}

<div class="pages spaced">
  {{ with .PrevInSection }}
  <a class="previous" href="{{ .Permalink }}">Prev</a>
  {{ end }}
  <a class="home" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  {{ with .NextInSection }}
  <a class="next" href="{{ .Permalink }}">Next</a>
  {{ end }}
</div>
<hr>
<section id="main">
  <div>
    <article id="content">
      {{ .Content }}
    </article>
  </div>
</section>
<aside id="meta">
  <div>
    {{ with .GetTerms "topics" }}
    <ul id="topics">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
    {{ with .GetTerms "tags" }}
    <ul id="tags">
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
    {{ end }}
  </div>
  <hr>
  <div class="pages spaced">
    {{ with .PrevInSection }}
    <a class="previous" href="{{ .Permalink }}">Prev</a>
    {{ end }}
    <a class="home" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    {{ with .NextInSection }}
    <a class="next" href="{{ .Permalink }}">Next</a>
    {{ end }}
  </div>
</aside>
{{ end }}