<ul>
    {{ if .Get 0 }}
        {{ $range_limit := .Get 0 }}
        {{ range (where .Site.Pages "Section" "blog") }}
        {{ range last $range_limit .Pages }}

        <li>
            {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format
                "2006 Jan 02" }}</time> &ndash; {{ end -}}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- if .Param "authorsinlist" }}
            {{- range .Param "authors" }} by {{ . }}{{ end -}}
            {{ end -}}
        </li>
        {{ end }}
        {{ end }}

    {{ else }}

        {{ range (where .Site.Pages "Section" "blog") }}
        {{ range .Pages }}

        <li>
            {{- if .Param "datesinlist" }}<time datetime="{{ .Date.Format " 2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format
                "2006 Jan 02" }}</time> &ndash; {{ end -}}
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            {{- if .Param "authorsinlist" }}
            {{- range .Param "authors" }} by {{ . }}{{ end -}}
            {{ end -}}
        </li>

        {{ end }}
        {{ end }}

    {{ end }}
</ul>